/* Textos  */
@font-face {
    font-family: neue-plak-regular;
    src: url(../assets/fonts/Neue\ Plak\ Narrow\ Regular.ttf);
}

/* título */
@font-face {
    font-family: neue-plak-semibold;
    src: url(../assets/fonts/Neue\ Plak\ SemiBold.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: neue-plak-regular;
    font-size: 20px;
}

.page {
    /* height: 371mm; */
}

.page-m {
    /* margin: 0 3cm; */
}

p {
    font-size: 20px;
}

.title,
strong {
    font-family: neue-plak-semibold;
}

.header,
.mini-header {
    width: 100%;
    padding: 20px;
}

.page-m>.header {
    padding: 0;
    padding-top: 1cm;
}

.mini-header {
    padding: 40px;
}

.logo {
    height: 71px;
}

/* PRIMARY */

.bg-black {
    background-color: #212322;
}

.bg-blue {
    background-color: #0202c6;
}

.bg-purple-1 {
    background-color: #6802c1;
}

.bg-purple-2 {
    background-color: #a304a3;
}

.bg-red {
    background-color: #ea0303;
}

.bg-orange {
    background-color: #ff521d;
}

.c-black {
    color: #212322;
}

.c-blue {
    color: #0202c6;
}

.c-purple-1 {
    color: #6802c1;
}

.c-purple-2 {
    color: #a304a3;
}

.c-red {
    color: #ea0303;
}

.c-orange {
    color: #ff521d;
}

/* LIGHT */

.bg-light-blue {
    background-color: #75ddf9
}

.bg-light-purple-1 {
    background-color: #b17df4;
}

.bg-light-purple-2 {
    background-color: #ed76f4;
}

.bg-light-red {
    background-color: #f97373;
}

.bg-light-orange {
    background-color: #ff8773;
}

.c-light-blue {
    color: #75ddf9
}

.c-light-purple-1 {
    color: #b17df4;
}

.c-light-purple-2 {
    color: #ed76f4;
}

.c-light-red {
    color: #f97373;
}

.c-light-orange {
    color: #ff8773;
}

.c-white {
    color: #fff;
}

/* TEXTO */

.text-big {
    font-size: 37px;
}

.text-median {
    font-size: 28px;
}

.text-small {
    font-size: 17px;
}

.text-bold {
    font-weight: bold;
}

.text-upper {
    text-transform: uppercase;
}

/* ALIGN */

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.justify,
p {
    text-align: justify;
}

.w-20 {
    width: 20%;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.line {
    width: 100%;
    height: 1px;
}

.summary img {
    height: 50px;
}

.summary,
.footer {
    margin-left: 3cm;
}

.step {
    height: 60px;
}

.mini-step {
    height: 15px;
}

td {
    vertical-align: middle;
}

.list-h>td {
    padding: 0 10px;
}

.list-h>td:first-child {
    padding-left: 0;
}

.item>td:first-child {
    padding-right: 80px;
}

.footer>tbody>tr>td:first-child {
    padding-right: 40px;
}

.note {
    line-height: 20px;
}

.footer img {
    height: 238px;
}

strong {
    font-weight: bolder !important;
}

.t-box {
    height: 50px;
    font-size: 20px;
    padding: 0 5px;
}

.line-bolder {
    height: 30px;
    margin: 0 3cm 70px 3cm;
}

/* report */

#container {
    width: 100%;
    height: 70%;
    position: relative;
}

#progreso,
#rectangulo,
#circulo {
    position: absolute;
    top: 0;
    left: 0;
}

#rectangulo {
    z-index: 10;
    border: 2px solid #CE7EB4;
    height: 17px;
    background-color: none;
    margin: -4px -2px;
    margin-top: 1px;
}

#circulo {
    z-index: 20;
    border: 2px solid #CE7EB4;
    background-color: none;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    display: inline-block;
    margin: -2px;
    margin-top: 1px;
}

.star {
    color: #F8A17E;
}

table {
    border: none;
    border-collapse: initial !important;
}

.report-table>table {
    border: none;
    border-collapse: collapse !important;
}

.report-table>table td {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.report-table>table td:first-child {
    border-left: none;
}

table td:last-child {
    border-right: none;
}

.report-table>* {
    font-size: 16px;
}

.barrarosada {
    background-color: #F4E4EF;
    padding-top: 2px;
    width: 100%;
    margin: auto;
    /*bottom: 0; */
    position: absolute;
}

.barraceleste {
    background-color: #70CFEB;
    padding-top: 2px;
    width: 10px;
    margin: auto;
    position: relative;
}

.indicador {
    position: relative;
}

.tdcluster {
    text-align: center;
    vertical-align: bottom;
    position: relative;
}
