<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
    <!-- <link rel="stylesheet" href="../styles/leadership-survey.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        /* Textos */
        @font-face {
            font-family: neue-plak-regular;
            src: url(../public/assets/fonts/Neue\ Plak\ Narrow\ Regular.ttf);
        }

        /* título */
        @font-face {
            font-family: neue-plak-semibold;
            src: url(../public/assets/fonts/Neue\ Plak\ SemiBold.ttf);
        }

        * {
            margin: 0;
            padding: 0;
            font-family: neue-plak-regular;
        }

        html {
            zoom: 0.75;
        }
    </style>
</head>

<body>
    <table
        style="border-collapse: collapse; border: 0; margin: 0; background-color: #6802c1; width: 100%; text-align: center; height: 297mm">
        <tr>
            <td style="padding: 10px 0">
                <table style="border-collapse: collapse; border: 0; margin: 0 auto;">
                    <tr>
                        <td style="text-align: right; padding: 0; line-height: 0;">
                            <img class="logo" src="../public/assets/img/Recurso 3.png" alt="UC-LOGO">
                        </td>
                        <td style="text-align: left; font-size: 2rem; color: #fff">
                            Evaluación de Liderazgo - ESCI
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <!-- <div class="page">
        <table class="header bg-purple-1">
            <tr>
                <td class="left">
                </td>
                <td class="right">
                    <p class="title c-white text-median text-upper">
                    </p>
                </td>
            </tr>
        </table>

        <table class="mini-header">
            <tr>
                <td class="center">
                    <p class="title c-purple-1 text-big">
                        Reporte de Evaluación de Liderazgo – ESCI
                    </p>
                </td>
            </tr>
        </table>

        <div class="line bg-light-blue"></div>

        <table class="mini-header">
            <tr>
                <td class="center text-median">
                    <span>
                        Evaluado(a): <%= fullName %>
                    </span>
                </td>
            </tr>
        </table>

        <table class="summary">
            <tr>
                <td>
                    <p class="title">
                        Resumen:
                    </p>
                </td>
            </tr>

            <tr class="step"></tr>

            <tr class="item">
                <td class="center">
                    <img src="<%= url_server %>/assets/img/Recurso 4.png" alt="UC-LOGO">
                </td>
                <td>
                    <p class="title">
                        Periodo de evaluación:
                    </p>
                    <table>
                        <tr>
                            <td>
                                <p>
                                    <%= period %>
                                </p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="step"></tr>

            <tr class="item">
                <td class="center">
                    <img src="<%= url_server %>/assets/img/Recurso 19.png" alt="UC-LOGO" style="margin-right: 10px;">
                    <img src="<%= url_server %>/assets/img/Recurso 18.png" alt="UC-LOGO">
                </td>
                <td>
                    <p class="title">
                        Cantidad de evaluadores:
                    </p>
                    <table>
                        <tr class="center list-h">
                            <td>
                                Autoevaluación
                            </td>
                            <td>
                                Pares
                            </td>
                            <td>
                                Personas a cargo
                            </td>
                            <td>
                                Líder
                            </td>
                        </tr>
                        <tr class="center">
                            <td>
                                <%= summary.respondent.ME %>
                            </td>
                            <td>
                                <%= summary.respondent.PAIR %>
                            </td>
                            <td>
                                <%= summary.respondent.COLLABORATOR %>
                            </td>
                            <td>
                                <%= summary.respondent.BOSS %>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="step"></tr>

            <tr class="item">
                <td class="center">
                    <img src="<%= url_server %>/assets/img/Recurso 1.png" alt="UC-LOGO">
                </td>
                <td>
                    <p class="title">
                        Resultados por clúster:
                    </p>
                    <table>
                        <tr class="center list-h">
                            <td>
                                <%= summary.clusters[0].name %>
                            </td>
                            <td>
                                <%= summary.clusters[1].name %>
                            </td>
                        </tr>
                        <tr class="center">
                            <td>
                                <%= summary.clusters[0].value %>
                            </td>
                            <td>
                                <%= summary.clusters[1].value %>
                            </td>
                        </tr>
                        <tr class="mini-step">
                        </tr>
                        <tr class="center list-h">
                            <td>
                                <%= summary.clusters[2].name %>
                            </td>
                            <td>
                                <%= summary.clusters[3].name %>
                            </td>
                        </tr>
                        <tr class="center">
                            <td>
                                <%= summary.clusters[2].value %>
                            </td>
                            <td>
                                <%= summary.clusters[3].value %>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="step"></tr>

            <tr class="item">
                <td class="center">
                    <img src="<%= url_server %>/assets/img/Recurso 2.png" alt="UC-LOGO">
                </td>
                <td>
                    <p>
                        Resultado final*:
                    </p>
                    <br>
                    <p class="title">
                        <%= percent %>
                    </p>
                </td>
            </tr>
        </table>

        <table style="width: 100%; text-align: center;">
            <tr style="text-align: center; width: 100%;">
                <td>
                    <img src="<%= url_server %>/assets/img/Recurso 9.png" alt="">
                </td>
            </tr>
        </table>
    </div> -->

    <!-- <div class="page page-m">
        <table class="header">
            <tr>
                <td class="right">
                    <span class="c-light-blue">
                        Organización Educativa Continental
                    </span>
                </td>
            </tr>
        </table>

        <div class="line bg-light-blue"></div>

        <div class="step"></div>

        <p>
            <strong class="text-big c-purple-1">
                ¿Qué es el liderazgo para la UC?
            </strong>
        </p>

        <div class="mini-step"></div>

        <p>
            <strong>
                En la Universidad Continental sabemos que todos somos líderes,
            </strong>
            y que al mismo tiempo
            <strong>
                cada día un@ puede crecer como líder y como profesional.
            </strong>
            Entendemos al líder UC como un(a) líder que se conoce a sí mism@, que gestiona sus emociones y conecta con
            l@s demás para conseguir un propósito compartido. Que se orienta al logro, es empátic@, y trabaja en equipo.
            La orientación al propósito, al aprendizaje y a los resultados es sumamente importante como parte de la
            cultura UC.
        </p>

        <div class="mini-step"></div>

        <p>
            La propuesta de liderazgo de la UC integra el concepto de liderazgo auténtico, las competencias
            socio-emocionales, y las cinco dimensiones del liderazgo, que se explicarán más adelante y toman como
            referencia al liderazgo co-activo.
        </p>

        <div class="mini-step"></div>

        <p>
            El / la líder UC es un / una
            <strong>
                líder auténtic@,
            </strong>
            se fortalece y construye a partir de su historia de vida, propósito y autoconocimiento. Y se desarrolla a
            partir de habilidades que contribuyan a empoderar y ayudar a crecer a l@s demás, en un liderazgo orientado
            hacia l@s demás. El liderazgo auténtico se evalúa desde cuatro componentes: (1) consciencia de un@ mism@,
            (2) transparencia relacional, (3) perspectiva moral internalizada, y (4).
        </p>

        <div class="mini-step"></div>

        <p>
            <strong>
                El liderazgo tiene un componente esencial basado en la dimensión emocional,
            </strong>
            que se tangibiliza en competencias socioemocionales, y este se transmite desde el ejemplo. La conciencia de
            las fortalezas y debilidades, dentro del marco de las competencias de inteligencia emocional, es un gran
            activo para que un(a) líder pueda crecer cada día.
        </p>

        <div class="mini-step"></div>

        <p>
            Las
            <strong>
                competencias socioemocionales son doce
            </strong>
            y las entendemos como principios de liderazgo, que son: (1) autoconsciencia emocional, (2) autocontrol
            emocional, (3) orientación al logro, (4) mirada positiva, (5) adaptabilidad, (6) empatía, (7) conciencia
            organizacional, (8) influencia, (9) coach y mentor(a), (10) manejo de conflictos, (11) liderazgo inspirador
            y (12) trabajo en equipo.
        </p>

        <div class="mini-step"></div>

        <p>
            <strong>
                El liderazgo es también multidimensional.
            </strong>
            En concordancia con el liderazgo co-activo, consideramos que existen cinco dimensiones.
        </p>

        <div class="mini-step"></div>

        <p>
            La
            <strong>
                primera dimensión
            </strong>
            es el liderazgo interno, pues siempre nos estamos liderando, y tiene como competencias clave la aceptación y
            autoridad con un@ mism@, se centra en tomar responsabilidad al aceptarse plenamente y vivir una vida de
            acuerdo a los valores de un@ mism@.
        </p>

        <div class="mini-step"></div>

        <p>
            La
            <strong>
                segunda
            </strong>
            es cuando el/la líder está al frente, liderando un equipo. Las competencias más importantes son conexión con
            los demás y claridad en la dirección y propósito. La
            <strong>
                tercera dimensión
            </strong>
            es cuando el/la líder está detrás: en vez de buscar verse bien frente a todo@s, el líder detrás busca servir
            y
            hacer coaching a su equipo, proveyendo lo que sea necesario para que l@s demás brillen, escuchando
            activamente
            y fortaleciendo la confianza en l@s demás.
        </p>

        <div class="mini-step"></div>

        <p>
            La
            <strong>
                cuarta
            </strong>
            es cuando el líder está al lado; eso se suele dar cuando lideramos algo junto a alguien. Las competencias
            clave son las de generar alianzas y sinergias alrededor de un propósito compartido. La
            <strong>
                quinta
            </strong>
            es cuando el líder está en el campo. Se da cuando tomamos responsabilidad sobre nuestro impacto en el mundo,
            y
            las competencias clave son intuición e innovación.
        </p>
    </div>

    <div class="page page-m">
        <table class="header">
            <tr>
                <td class="right">
                    <span class="c-light-blue">
                        Organización Educativa Continental
                    </span>
                </td>
            </tr>
        </table>

        <div class="line bg-light-blue"></div>

        <div class="step"></div>

        <p>
            <strong class="text-big c-purple-1">
                ¿Qué es la Inteligencia Emocional y Social?
            </strong>
        </p>

        <div class="mini-step"></div>

        <p>
            La inteligencia emocional y social es la capacidad de reconocer nuestros propios sentimientos y los de los
            demás, para motivarnos a nosotros mismos, y para manejar las emociones de manera efectiva en nosotros mismos
            y
            en los demás. Eso describe los comportamientos que sostienen a las personas en roles desafiantes, o a medida
            que sus carreras se vuelven más exigentes, y captura las cualidades que ayudan a las personas a afrontar
            eficazmente el cambio.
        </p>

        <div class="mini-step"></div>

        <p>
            <strong class="text-big c-purple-1">
                El Inventario de Competencias
                <br>
                Socio Emocionales (ESCI)
            </strong>
        </p>

        <div class="mini-step"></div>

        <p>
            Basado en décadas de investigación, en cientos de roles y organizaciones, el Inventario de Competencias
            Emocionales y Sociales (ESCI, por sus iniciales en inglés) describe 12 competencias. Aunque todas las
            competencias de ESCI son importantes, es posible que sea necesario dominarlas todas para ser exitoso. Puede
            basarse en diferentes competencias, dependiendo de sus fortalezas, preferencias y de las necesidades de las
            personas y situaciones con las que trabaja.
        </p>

        <div class="mini-step"></div>

        <p>
            <strong class="text-median c-purple-1">
                Los cuatro clusters (o grupos)
            </strong>
        </p>

        <div class="mini-step"></div>

        <p>
            Los clusters o grupos de ESCI provienen de la conceptualización de la inteligencia emocional, y son:
        </p>

        <div class="mini-step"></div>

        <p style="padding-left: 4em;">
            I. Autoconciencia: reconocer y comprender nuestras propias emociones. <br>
            II. Comprensión de otros: reconocer y comprender las emociones de otros. <br>
            III. Gestión de uno mismo: gestionar eficazmente nuestras propias emociones. <br>
            IV. Gestión de las relaciones: aplicar la comprensión emocional en el trato con los demás.
        </p>

        <div class="mini-step"></div>

        <p>
            La Gestión de relaciones es donde la inteligencia emocional y social (o la falta de ella) se vuelve más
            visible para los demás. Las competencias en este clúster impactan en la motivación y desempeño de otros,
            pero
            dependen de las fortalezas en las competencias de Comprensión de Otros y Gestión de uno mismo. Estos grupos
            proporcionan dirección, energía, moderación y habilidad en la forma en que usamos en las competencias de
            Gestión de relaciones.
        </p>

        <div class="mini-step"></div>

        <p>
            La Autoconciencia está en el corazón del modelo. Describe la capacidad para comprender nuestras emociones,
            nuestros impulsos, nuestras fortalezas y debilidades. Nos permite sostener nuestro comportamiento emocional
            y
            socialmente inteligente a lo largo del tiempo, a pesar de las dificultades que podamos encontrar en el
            camino.
        </p>
    </div>

    <div class="page page-m">
        <table class="header">
            <tr>
                <td class="right">
                    <span class="c-light-blue">
                        Organización Educativa Continental
                    </span>
                </td>
            </tr>
        </table>

        <div class="line bg-light-blue"></div>

        <div class="step"></div>

        <p>
            <strong class="text-big c-purple-1">
                Tu reporte de Feedback:
            </strong>
        </p>

        <div class="mini-step"></div>

        <p>
            Tu reporte de feedback está organizado en estas 5 secciones:
        </p>

        <div class="mini-step"></div>

        <p style="padding-left: 4em;">
            1. Modelo ESCI: una lista de las competencias medidas en este reporte, organizadas por cluster. <br>
            2. Interpretando tu Feedback: Una guía de lo que vas a ver en el reporte de feedback de ESCI. <br>
            3. Resumen del ESCI: Un resumen de tus fortalezas y áreas de mejora en los cuatro clusters de competencias
            emocionales. <br>
            4. Detalle del ESCI: Los resultados detallados de las competencias, por grupo que evalúa, con las
            definiciones de
            las competencias. <br>
            5. Posibles acciones de mejora: una lista de posibles acciones de mejora que puedes implementar.
        </p>

        <div class="mini-step"></div>

        <p>
            <strong class="text-big c-purple-1">
                1. Modelo ESCI
            </strong>
        </p>

        <div class="mini-step"></div>

        <p>
            Modelo de Competencias Sociales y Emocionales
        </p>

        <div class="mini-step"></div>

        <div>
            <table style="margin: 0 auto;" class="center w-50">
                <tr>
                    <td class="bg-light-orange t-box text-bold">
                        Autoconciencia
                    </td>
                    <td class="bg-light-purple-2 t-box text-bold">
                        Gestión de uno mismo
                    </td>
                </tr>
                <tr>
                    <td class="bg-light-purple-1 t-box text-bold">
                        Comprensión de otros
                    </td>
                    <td class="bg-light-blue t-box text-bold">
                        Gestión de las relaciones
                    </td>
                </tr>
            </table>
        </div>

        <div class="mini-step"></div>

        <table>
            <tr>
                <td class="w-50">
                    <p class="text-bold">
                        Autoconsciencia
                    </p>
                    <p>
                        Conocer y comprender las fortalezas y debilidades. Impulsos y valores de cada uno, y el impacto
                        en los
                        demás. Implica reconocer cómo tus
                        propios sentimientos te afectan y también a los
                        demás
                    </p>
                </td>
                <td class="center">
                    <table class="w-100">
                        <tr>
                            <td>
                                <div style="display: inline;">
                                    <div class="bg-light-orange t-box w-50 text-median text-center"
                                        style="margin: 0 auto; display: table-cell; vertical-align: middle; padding: 0 10px;">
                                        1. Autoconocimiento emocional
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <div class="mini-step"></div>

        <table>
            <tr>
                <td class="center">
                    <table class="w-100">
                        <tr>
                            <td>
                                <div style="display: inline;">
                                    <div class="t-box w-50 text-median text-center"
                                        style="margin: 0 auto; display: table-cell; vertical-align: middle; padding: 0 10px;">
                                        <table>
                                            <tr>
                                                <td style="border: 1px solid white; padding: 5px;"
                                                    class="bg-light-purple-2">
                                                    2. Autocontrol
                                                </td>
                                                <td style="border: 1px solid white; padding: 5px;"
                                                    class="bg-light-purple-2">
                                                    3. Adaptabilidad
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border: 1px solid white; padding: 5px;"
                                                    class="bg-light-purple-2">
                                                    4. Orientación al logro
                                                </td>
                                                <td style="border: 1px solid white; padding: 5px;"
                                                    class="bg-light-purple-2">
                                                    5. Mirada positiva
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
                <td class="w-50">
                    <p class="text-bold right">
                        Gestión de uno mismo
                    </p>
                    <p class="right">
                        Controlar o redirigir impulsos y estados de
                        ánimo disruptivos. Como menciona Goleman, las personas que están en control de
                        sus emociones e impulsos son las que
                        pueden crear un ambiente de confianza y
                        justicia.
                    </p>
                </td>
            </tr>
        </table>
    </div>

    <div class="page page-m">
        <table class="header">
            <tr>
                <td class="right">
                    <span class="c-light-blue">
                        Organización Educativa Continental
                    </span>
                </td>
            </tr>
        </table>

        <div class="line bg-light-blue"></div>

        <div class="step"></div>

        <table>
            <tr>
                <td class="w-50">
                    <p class="text-bold">
                        Comprensión de otros
                    </p>
                    <p>
                        Se refiere a cómo las personas pueden
                        manejar sus relaciones y conciencia de los
                        sentimientos, necesidades y preocupaciones de los demás
                    </p>
                </td>
                <td class="center">
                    <table class="w-100">
                        <tr>
                            <td>
                                <div style="display: inline;">
                                    <div class="t-box w-50 text-median text-center"
                                        style="margin: 0 auto; display: table-cell; vertical-align: middle; padding: 0 10px;">
                                        <table>
                                            <tr>
                                                <td style="border: 1px solid white; padding: 5px;"
                                                    class="bg-light-purple-1">
                                                    6. Empatía
                                                </td>
                                                <td style="border: 1px solid white; padding: 5px;"
                                                    class="bg-light-purple-1">
                                                    7. Conciencia emocional
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
        </table>

        <div class="mini-step"></div>

        <table>
            <tr>
                <td class="center">
                    <table class="w-100">
                        <tr>
                            <td>
                                <div style="display: inline;">
                                    <div class="t-box w-50 text-median text-center"
                                        style="margin: 0 auto; display: table-cell; vertical-align: middle; padding: 0 10px;">
                                        <table>
                                            <tr>
                                                <td style="border: 1px solid white; padding: 5px;"
                                                    class="bg-light-blue">
                                                    8. Influencia
                                                </td>
                                                <td style="border: 1px solid white; padding: 5px;"
                                                    class="bg-light-blue">
                                                    9. Coach y mentor
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border: 1px solid white; padding: 5px;"
                                                    class="bg-light-blue">
                                                    10. Liderazgo inspiracional
                                                </td>
                                                <td style="border: 1px solid white; padding: 5px;"
                                                    class="bg-light-blue">
                                                    11. Manejo de conflictos
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border: 1px solid white; padding: 5px;"
                                                    class="bg-light-blue">
                                                    12. Trabajo en equipo
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
                <td class="w-50">
                    <p class="text-bold right">
                        Gestión de las relaciones
                    </p>
                    <p class="right">
                        Comprende la habilidad o destreza para
                        inducir respuestas deseables en los
                        demás.
                    </p>
                </td>
            </tr>
        </table>

        <div class="mini-step"></div>

        <p>
            <strong class="text-big c-purple-1">
                2. Interpretando tu feedback:
            </strong>
        </p>

        <div class="mini-step"></div>

        <p class="title">
            Interpretando el Resumen de ESCI:
        </p>

        <div class="mini-step"></div>

        <p>
            El resumen de ESCI muestra una mirada general de tus fortalezas y áreas de mejora. Todas las competencias
            medidas en este reporte son listadas y medidas por cluster.
        </p>

        <div class="mini-step"></div>

        <p>
            Resultados de las Competencias
        </p>

        <p>
            Hacia la derecha de cada competencia podrás ver el promedio de la evaluación que te han hecho los demás.
            Esto
            es el promedio de la evaluación todos, excluyendo tu autoevaluación.
        </p>

        <div class="mini-step"></div>

        <table class="w-100">
            <tr>
                <td class="center">
                    <img src="<%= url_server %>/assets/img/report-cluster.png" alt="." srcset="" style="height: 200px;">
                </td>
            </tr>
        </table>

        <div class="mini-step"></div>

        <p>
            La barra representa el puntaje Total de otros. El círculo representa su calificación o cómo se vio a sí
            mismo
            en esa competencia.
        </p>

        <div class="mini-step"></div>

        <p>
            <strong>
                Normas:
            </strong>
            el cuadro transparente representa el grupo de normas. Eso es el puntaje que van desde el percentil 25
            al percentil 75 de otros que han realizado esta encuesta. El grupo de normas que se muestra representa xxxx
            participantes y xxxxxx encuestados que participaron en la ESCI UC.
            <br>
            Si su puntaje Total de otros (representado por la barra) está a la izquierda de este cuadro, indica que su
            puntuación está por debajo del promedio para esta competencia.
        </p>

        <p>
            Si su puntaje Total de otros está a la derecha del cuadro, indica que está por encima del promedio en esta
            competencia. Cuando la puntuación Total de Otros coincide o supera el 85% de la escala, la competencia se
            considera una fortaleza. En este caso, una flecha aparecerá para esa competencia debajo de la columna de
            fortaleza.
        </p>
    </div>

    <div class="page page-m">
        <table class="header">
            <tr>
                <td class="right">
                    <span class="c-light-blue">
                        Organización Educativa Continental
                    </span>
                </td>
            </tr>
        </table>

        <div class="line bg-light-blue"></div>

        <div class="step"></div>

        <p class="text-bold title">
            Interpretando el detalle de tu competencia
        </p>

        <div class="mini-step"></div>

        <p>
            El detalle de tus competencias de ESCI te muestra los resultados por grupo evaluador para cada una de las
            competencias medidas en este reporte.
        </p>

        <p>
            Escalas de las competencias: En el gráfico podrás ver las barras que representan a los diferentes grupos que
            te han evaluado.
        </p>

        <table class="w-100">
            <tr>
                <td class="center">
                    <img src="<%= url_server %>/assets/img/report-cluster-detail.png" alt="." srcset=""
                        style="height: 200px;">
                </td>
            </tr>
        </table>

        <p>
            <strong>
                Normas:
            </strong>
            el área sombreada representa el grupo de normas o rango promedio de puntajes (es decir, percentil 25 a
            75) para esta competencia. Cuando una barra está por encima del área sombreada, su calificación se considera
            por encima del promedio para esta competencia. Cuando una barra está por debajo del área sombreada, se
            considera por debajo del promedio para esta competencia.
        </p>

        <p>
            <strong class="text-big c-purple-1">
                3. Resumen del ESCI
            </strong>
        </p>

        <div class="mini-step"></div>

        <div class="report-table">
            <table class="w-100">
                <thead style="font-weight: bold;">
                    <td style="border: none !important">
                        Cluster | Competencia
                    </td>
                    <td style="text-align: center; width: 60px; border: none !important; font-size: 12px;">
                        Promedio de evaluación de otros
                    </td>
                    <td style="text-align: center; border: none !important">
                        Consistencia de la demostración
                    </td>
                </thead>
                <tr style="border-bottom: 1px solid black;">
                    <td style="border: none !important">&nbsp;</td>
                    <td style="border: none !important">&nbsp;</td>
                    <td style="border: none !important">
                        <table class="w-100">
                            <tr style="font-size: 14px;">
                                <td class="w-20" style="border: none !important;">Nunca</td>
                                <td class="w-20" style="border: none !important;">Raramente</td>
                                <td class="w-20" style="border: none !important;">A veces</td>
                                <td class="w-20" style="border: none !important;">Frecuentemente</td>
                                <td class="w-20" style="border: none !important;">Consistentemente</td>
                            </tr>
                        </table>
                    </td>
                    <td style="text-align: right; border: none !important">
                        Fortaleza
                    </td>
                </tr>
                <% reportData.forEach(function(report) { %>
                <tbody>
                    <tr>
                        <td>
                            <p style="color: #2b3880; font-weight: bold;">
                                <%= report.habilityName %>
                            </p>
                            <br>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <% report.data.forEach(function(reportInfo) { %>
                    <tr>
                        <td
                            style="padding-top: 0px; clear: both; display: inline; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; border: 0;">
                            <p style="padding-left: 7px;">
                                <%= reportInfo.clusterName %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </p>
                        </td>
                        <td style="padding-top: 0px; text-align: center;">
                            <%= reportInfo.medianOthers %>
                        </td>
                        <td style="padding-top: 0px !important; padding: 0; margin: 0;">
                            <div id="container" style="border-bottom: 1px solid #fff; border-top: 1px solid #fff;">
                                <div id="progreso"
                                    style="width: <%= reportInfo.medianOthers * 20 + '%' %>; background-color: #70CFEB; padding-top: 2px;">
                                    &nbsp;
                                </div>
                                <div id="rectangulo"
                                    style="width: <%= ((reportInfo.percentile75-reportInfo.percentile25) * 20) + '%' %>; left: <%= (reportInfo.percentile25 * 20) + '%' %>">
                                    &nbsp;</div>

                                <% if (reportInfo.medianAuto>= 0.25) { %>
                                <div id="circulo" style="left: <%= (reportInfo.medianAuto * 20)- 4 + '%' %>;">&nbsp;
                                </div>
                                <% } %>

                                <% if (reportInfo.medianAuto < 0.25) { %>
                                <div id="circulo" style="left: 0%">&nbsp;</div>
                                <% } %>
                            </div>
                        </td>
                        <td style="text-align: center;">
                            <% if (reportInfo.Paso75) { %>
                            <p class="fa fa-star star"></p>
                            <% }; %>
                        </td>
                    </tr>
                    <% }); %>
                    <tr style="border-top: 1px solid #E2E3E5;">
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
                <% }); %>
            </table>
        </div>
    </div>

    <div class="page page-m">
        <table class="header">
            <tr>
                <td class="right">
                    <span class="c-light-blue">
                        Organización Educativa Continental
                    </span>
                </td>
            </tr>
        </table>

        <div class="line bg-light-blue"></div>

        <div class="step"></div>

        <div>
            <p class="text-bold text-big c-purple-1">
                4. Detalle del ESCI
            </p>

            <div class="mini-step"></div>
        </div>

        <% clustersDetail_1.forEach(function(cluster) { %>

        <div style="width: 100%; margin-bottom: 20px; font-size: 15px; display: table;">
            <div style="display: table-cell; width: 20%;">
                <div style="display: inline-block;">
                    <div>
                        <span class="title">
                            <%= cluster.habilityName %>
                        </span>
                        <p></p>
                        <span>
                            <%= cluster.clusterName %>
                            <span>
                    </div>
                </div>
            </div>
            <div style="height: 150px; display: table-cell; padding-left: 20px;">
                <div class="container" style="margin: auto;">
                    <table
                        style="box-shadow: 0px 0px 0px 1px #212322; border-radius: 2px; border-collapse: collapse !important;">
                        <tr>
                            <td width="15%" class="tdcluster">
                                <div class="barrarosada" style="bottom: <%= (cluster.percentile25 * 20) + 'px' %>;
                height: <%= ((cluster.percentile75-cluster.percentile25) * 20) + 'px' %>;">
                                    &nbsp;
                                </div>
                                <span class="indicador">
                                    <%= cluster.medianOthers %>
                                </span>
                                <div class="barraceleste" style="height: <%= cluster.medianOthers * 20 + 'px' %>;">
                                    &nbsp;</div>
                            </td>
                            <td width="15%" class="tdcluster">
                                <div class="barrarosada" style="bottom: <%= (cluster.percentile25 * 20) + 'px' %>;
                height: <%= ((cluster.percentile75-cluster.percentile25) * 20) + 'px' %>;">
                                    &nbsp;
                                </div>
                                <span class="indicador">
                                    <%= cluster.medianAuto %>
                                </span>
                                <div class="barraceleste" style="height: <%= (cluster.medianAuto * 20) + 'px' %>;">
                                    &nbsp;</div>
                            </td>
                            <td width="15%" class="tdcluster">
                                <div class="barrarosada" style="bottom: <%= (cluster.percentile25 * 20) + 'px' %>;
                height: <%= ((cluster.percentile75-cluster.percentile25) * 20) + 'px' %>;">
                                    &nbsp;
                                </div>
                                <span class="indicador">
                                    <%= cluster.medianBoss %>
                                </span>
                                <div class="barraceleste" style="height: <%= (cluster.medianBoss * 20) + 'px' %>;">
                                    &nbsp;</div>
                            </td>
                            <td width="15%" class="tdcluster" *ngIf="cluster.employeeType == 'JEFE'">
                                <div class="barrarosada" style="bottom: <%= (cluster.percentile25 * 20) + 'px' %>;
                height: <%= ((cluster.percentile75-cluster.percentile25) * 20) + 'px' %>;">
                                    &nbsp;
                                </div>
                                <span class="indicador">
                                    <%= cluster.medianCollaborator %>
                                </span>
                                <div class="barraceleste"
                                    style="height: <%= (cluster.medianCollaborator * 20) + 'px' %>;">&nbsp;
                                </div>
                            </td>
                            <td width="15%" class="tdcluster">
                                <div class="barrarosada" style="bottom: <%= (cluster.percentile25 * 20) + 'px' %>;
                height: <%= ((cluster.percentile75-cluster.percentile25) * 20) + 'px' %>;">
                                    &nbsp;
                                </div>
                                <span class="indicador">
                                    <%= cluster.medianPair %>
                                </span>
                                <div class="barraceleste" style="height: <%= (cluster.medianPair * 20) + 'px' %>;">
                                    &nbsp;</div>
                            </td>
                            <td style="padding-left: 10px;">
                                <div style="margin-bottom: 5px;">
                                    Consistentemente
                                </div>
                                <div style="margin-bottom: 5px;">
                                    Frecuentemente
                                </div>
                                <div style="margin-bottom: 5px;">
                                    A veces
                                </div>
                                <div style="margin-bottom: 5px;">
                                    Raramente
                                </div>
                                <div style="margin-bottom: 5px;">
                                    Nunca
                                </div>
                            </td>
                        </tr>
                        <tr style="font-weight: bold; text-align: center;">
                            <td>Total Otros</td>
                            <td>AutoEv</td>
                            <td>Jefe</td>

                            <% if (cluster.employeeType=='JEFE' ) { %>
                            <td>Pers. a Cargo</td>
                            <% } %>

                            <td>Pares</td>
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <% }); %>
    </div>

    <div class="page page-m">
        <table class="header">
            <tr>
                <td class="right">
                    <span class="c-light-blue">
                        Organización Educativa Continental
                    </span>
                </td>
            </tr>
        </table>

        <div class="line bg-light-blue"></div>

        <div class="step"></div>

        <% clustersDetail_2.forEach(function(cluster) { %>

        <div style="width: 100%; margin-bottom: 20px; font-size: 15px; display: table;">
            <div style="display: table-cell; width: 20%;">
                <div style="display: inline-block;">
                    <div>
                        <span class="title">
                            <%= cluster.habilityName %>
                        </span>
                        <p></p>
                        <span>
                            <%= cluster.clusterName %>
                            <span>
                    </div>
                </div>
            </div>
            <div style="height: 150px; display: table-cell; padding-left: 20px;">
                <div class="container" style="margin: auto;">
                    <table
                        style="box-shadow: 0px 0px 0px 1px #212322; border-radius: 2px; border-collapse: collapse !important;">
                        <tr>
                            <td width="15%" class="tdcluster">
                                <div class="barrarosada" style="bottom: <%= (cluster.percentile25 * 20) + 'px' %>;
                height: <%= ((cluster.percentile75-cluster.percentile25) * 20) + 'px' %>;">
                                    &nbsp;
                                </div>
                                <span class="indicador">
                                    <%= cluster.medianOthers %>
                                </span>
                                <div class="barraceleste" style="height: <%= cluster.medianOthers * 20 + 'px' %>;">
                                    &nbsp;</div>
                            </td>
                            <td width="15%" class="tdcluster">
                                <div class="barrarosada" style="bottom: <%= (cluster.percentile25 * 20) + 'px' %>;
                height: <%= ((cluster.percentile75-cluster.percentile25) * 20) + 'px' %>;">
                                    &nbsp;
                                </div>
                                <span class="indicador">
                                    <%= cluster.medianAuto %>
                                </span>
                                <div class="barraceleste" style="height: <%= (cluster.medianAuto * 20) + 'px' %>;">
                                    &nbsp;</div>
                            </td>
                            <td width="15%" class="tdcluster">
                                <div class="barrarosada" style="bottom: <%= (cluster.percentile25 * 20) + 'px' %>;
                height: <%= ((cluster.percentile75-cluster.percentile25) * 20) + 'px' %>;">
                                    &nbsp;
                                </div>
                                <span class="indicador">
                                    <%= cluster.medianBoss %>
                                </span>
                                <div class="barraceleste" style="height: <%= (cluster.medianBoss * 20) + 'px' %>;">
                                    &nbsp;</div>
                            </td>
                            <td width="15%" class="tdcluster" *ngIf="cluster.employeeType == 'JEFE'">
                                <div class="barrarosada" style="bottom: <%= (cluster.percentile25 * 20) + 'px' %>;
                height: <%= ((cluster.percentile75-cluster.percentile25) * 20) + 'px' %>;">
                                    &nbsp;
                                </div>
                                <span class="indicador">
                                    <%= cluster.medianCollaborator %>
                                </span>
                                <div class="barraceleste"
                                    style="height: <%= (cluster.medianCollaborator * 20) + 'px' %>;">&nbsp;
                                </div>
                            </td>
                            <td width="15%" class="tdcluster">
                                <div class="barrarosada" style="bottom: <%= (cluster.percentile25 * 20) + 'px' %>;
                height: <%= ((cluster.percentile75-cluster.percentile25) * 20) + 'px' %>;">
                                    &nbsp;
                                </div>
                                <span class="indicador">
                                    <%= cluster.medianPair %>
                                </span>
                                <div class="barraceleste" style="height: <%= (cluster.medianPair * 20) + 'px' %>;">
                                    &nbsp;</div>
                            </td>
                            <td style="padding-left: 10px;">
                                <div style="margin-bottom: 5px;">
                                    Consistentemente
                                </div>
                                <div style="margin-bottom: 5px;">
                                    Frecuentemente
                                </div>
                                <div style="margin-bottom: 5px;">
                                    A veces
                                </div>
                                <div style="margin-bottom: 5px;">
                                    Raramente
                                </div>
                                <div style="margin-bottom: 5px;">
                                    Nunca
                                </div>
                            </td>
                        </tr>
                        <tr style="font-weight: bold; text-align: center;">
                            <td>Total Otros</td>
                            <td>AutoEv</td>
                            <td>Jefe</td>

                            <% if (cluster.employeeType=='JEFE' ) { %>
                            <td>Pers. a Cargo</td>
                            <% } %>

                            <td>Pares</td>
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <% }); %>
    </div>

    <div class="page page-m">
        <table class="header">
            <tr>
                <td class="right">
                    <span class="c-light-blue">
                        Organización Educativa Continental
                    </span>
                </td>
            </tr>
        </table>

        <div class="line bg-light-blue"></div>

        <div class="step"></div>

        <p class="text-bold text-big c-purple-1">
            5. Posibles acciones de mejora
        </p>

        <div class="mini-step"></div>

        <div>
            <table style="margin: 0 auto;" class="center w-75">
                <tr>
                    <td class="bg-light-orange t-box text-bold">
                        Autoconciencia
                    </td>
                    <td class="bg-light-purple-2 t-box text-bold">
                        Gestión de uno mismo
                    </td>
                </tr>
                <tr>
                    <td class="bg-light-purple-1 t-box text-bold">
                        Comprensión de otros
                    </td>
                    <td class="bg-light-blue t-box text-bold">
                        Gestión de las relaciones
                    </td>
                </tr>
            </table>
        </div>

        <div class="mini-step"></div>

        <p>
            A continuación, te presentamos algunas posibles acciones de mejora para que realices en los componentes que
            quieras mejorar, luego los puedes plasmar en tu Plan de crecimiento.
        </p>

        <div class="min-step"></div>

        <p class="text-bold text-median c-purple-1">
            Auto-consciencia
        </p>

        <div class="mini-step"></div>

        <p class="text-bold">
            Autoconocimiento emocional
        </p>

        <div class="mini-step"></div>

        <div style="display: table;" class="justify">
            <div class="w-50" style="display: table-cell; padding-right: 15px;">
                <li>
                    <p>
                        Ten un registro de tus emociones a lo largo del día. Y pídele feedback a alguien en quien
                        confíes sobre qué
                        emociones ve en ti en determinados momentos (podrían ser en reuniones de equipo, o en
                        interacciones
                        cotidianas
                        en general). Luego contrasta la información del registro de tus emociones con el feedback de los
                        demás.
                    </p>
                </li>
            </div>
            <div style="display: table-cell; padding-left: 15px;">
                <li>
                    <p>
                        Antes de cada reunión o interacción con otras personas, pon como intención qué emociones
                        quisieras
                        transmitir
                        hacia los demás. Luego de la reunión haz un autoanálisis, y también pide feedback a quien
                        consideres que te
                        lo
                        pueda dar.
                    </p>
                </li>
            </div>
        </div>

        <div class="mini-step"></div>

        <p class="text-bold text-median c-purple-1">
            Gestión de uno mismo
        </p>

        <div class="mini-step"></div>

        <p class="text-bold">
            Autocontrol emocional
        </p>

        <div class="mini-step"></div>

        <div style="display: table;" class="justify">
            <div class="w-50" style="display: table-cell; padding-right: 15px;">
                <li>
                    <p>
                        Ten un registro de cómo las situaciones en el trabajo, o las interacciones con los demás
                        influyen en tus
                        emociones. Mientras más específico sea, mejor. Puedes nombrar la emoción inicial, y la que
                        surgió con la
                        situación determinada, y evaluar si tu reacción es la que hubieras querido inicialmente. Sumado
                        a esto,
                        puedes
                        pedir feedback o retroalimentación luego de reuniones o interacciones, específicamente en cómo
                        gestionaste
                        tus
                        emociones y reacciones.
                    </p>
                </li>
            </div>
            <div style="display: table-cell; padding-left: 15px;">
                <li>
                    <p>
                        Haz lo posible por tomar conciencia, en situaciones retadoras, de cómo te estás sintiendo (una
                        reunión
                        difícil, un día sobrecargado, etc.). Una vez que cobras conciencia de la emoción que sientes
                        podrás
                        reflexionar acerca
                        de las posibles causas, y de cómo ésta podría estar afectando en tus decisiones o acciones
                        posteriores. El
                        primer
                        paso es identificar las emociones que tenemos, luego puedes hacerte cargo de ellas y
                        gestionarlas de manera
                        que no afecten tu día.
                    </p>
                </li>
            </div>
        </div>

        <div class="mini-step"></div>

        <p class="text-bold">
            Adaptabilidad
        </p>

        <div class="mini-step"></div>

        <table class="w-100">
            <tr>
                <td class="justify w-50" style="padding-right: 15px;">
                    <li>
                        <p>
                            Puedes pedir feedback o retroalimentación respecto a tu capacidad para adaptarte a
                            situaciones cambiantes
                            y
                            superar obstáculos en una situación específica.
                        </p>
                    </li>

                    <li>
                        <p>
                            Puedes tener un registro diario de las situaciones que te han retado y que te han costado, y
                            elaborar
                            acciones
                            de mejora para el día siguiente. Puedes compartir estos retos y avances con algún par en
                            quien confíes
                            para
                            el
                            feedback, o con tu jefe.
                        </p>
                    </li>
                </td>
                <td class="right">
                    <img src="<%= url_server %>/assets/img/Recurso 16.png" alt=" " srcset="">
                </td>
            </tr>
        </table>
    </div>

    <div class="page page-m">
        <table class="header">
            <tr>
                <td class="right">
                    <span class="c-light-blue">
                        Organización Educativa Continental
                    </span>
                </td>
            </tr>
        </table>

        <div class="line bg-light-blue"></div>

        <div class="step"></div>

        <p class="text-bold">
            Orientación al logro
        </p>

        <div class="mini-step"></div>

        <div style="display: table;" class="justify">
            <div class="w-50" style="display: table-cell; padding-right: 15px;">
                <li>
                    <p>
                        Genera momentos de reflexión, pueden ser espacios de 30 minutos, donde te respondas las
                        siguientes
                        preguntas: ¿Qué quiero lograr profesionalmente en las próximas tres semanas? ¿Qué quiero lograr
                        a nivel
                        personal en las próximas tres semanas? ¿Qué me está limitando para tener un mejor desempeño?
                        ¿Cómo se vería
                        la excelencia aplicada a mi trabajo?
                    </p>
                </li>
            </div>
            <div style="display: table-cell; padding-left: 15px;">
                <li>
                    <p>
                        Establece para cada día, semana y mes: qué resultado esperas, por qué es importante para ti
                        alcanzarlo, y
                        acciones concretas que te permitirán hacerlo. Tener metas claras que te motiven, y hacerle un
                        seguimiento
                        diario, puede fortalecer tu orientación al logro.
                    </p>
                </li>
                <li>
                    <p>
                        Plantea metas retadoras pero alcanzables.
                    </p>
                </li>
            </div>
        </div>

        <div class="mini-step"></div>

        <p class="text-bold">
            Mirada positiva
        </p>

        <div class="mini-step"></div>

        <div style="display: table;" class="justify">
            <div class="w-50" style="display: table-cell; padding-right: 15px;">
                <li>
                    <p>
                        Pide retroalimentación tanto a tus pares como a tu jefe y equipo sobre tu capacidad de ver el
                        lado positivo
                        en
                        las situaciones y personas. Luego de recibir el feedback, incorpóralo para que en cada
                        interacción y reto
                        puedas ver las posibilidades y las potencialidades, y las oportunidades de aprendizaje.
                    </p>
                </li>
            </div>
            <div style="display: table-cell; padding-left: 15px;">
                <li>
                    <p>
                        Busca personas que identifiques que tienen una mirada positiva frente a situaciones y personas,
                        y
                        entrevístalas para entender qué los ayuda a ver el lado positivo.
                    </p>
                </li>

                <li>
                    <p>
                        Haz el ejercicio de, luego de una interacción difícil (una reunión, alguna conversación
                        incómoda) buscar qué
                        cosas positivas tuvo la situación.
                    </p>
                </li>
            </div>
        </div>

        <div class="mini-step"></div>

        <p class="text-bold text-median c-purple-1">
            Comprensión de otros
        </p>

        <div class="mini-step"></div>

        <p class="text-bold">
            Empatía
        </p>

        <div class="mini-step"></div>

        <div style="display: table;" class="justify">
            <div class="w-50" style="display: table-cell; padding-right: 15px;">
                <li>
                    <p>
                        Genera espacios para conversar con tus compañeros de trabajo, para poder entender mejor sus
                        vidas, retos y
                        aspiraciones.
                    </p>
                </li>

                <li>
                    <p>
                        Aplica la comunicación no violenta (ver Marshall Rosenberg): observa primero en ti qué
                        sentimientos y
                        necesidades tienes. Luego haz lo mismo con la otra persona, buscando entender qué sentimientos y
                        necesidades
                        tiene. Luego de esto, en caso sea necesario, ya puedes hacer algún pedido, expresado de manera
                        clara,
                        descriptiva y respetuosa.
                    </p>
                </li>

            </div>
            <div style="display: table-cell; padding-left: 15px;">
                <li>
                    <p>
                        Haz el esfuerzo por considerar a la otra persona en todas sus dimensiones (no solo en el ámbito
                        laboral sino
                        en su rol como hijo, padre, hermana, etc.).
                    </p>
                </li>

                <li>
                    <p>
                        Si algo de otra persona te incomoda o molesta, pregúntate ¿qué aspecto mío podría estar
                        reflejándose en esta
                        interacción? ¿Lo que me molesta de esta persona es algo que se vincula a mi forma de ser?
                    </p>
                </li>
            </div>
        </div>

        <div class="mini-step"></div>

        <table class="w-100">
            <tr>
                <td class="justify w-50" style="padding-right: 15px;">
                    <p class="text-bold">
                        Conciencia organizacional
                    </p>

                    <div class="mini-step"></div>

                    <li>
                        <p>
                            Luego de una reunión, pregúntale a otra persona que estuvo presente sobre qué leyó del
                            grupo, respecto a
                            las
                            emociones que estuvieron presentes, y a la dinámica que se dio. También pueden reflexionar
                            sobre cómo se
                            tomaron decisiones.
                        </p>
                    </li>
                </td>
                <td class="right" style="padding-top: 60px;">
                    <img src="<%= url_server %>/assets/img/Recurso 16.png" alt=" " srcset="">
                </td>
            </tr>
        </table>
    </div>

    <div class="page page-m">
        <table class="header">
            <tr>
                <td class="right">
                    <span class="c-light-blue">
                        Organización Educativa Continental
                    </span>
                </td>
            </tr>
        </table>

        <div class="line bg-light-blue"></div>

        <div class="step"></div>

        <p class="text-bold text-median c-purple-1">
            Gestión de las relaciones
        </p>

        <div class="mini-step"></div>

        <table class="w-100">
            <tr>
                <td class="w-50">
                    <div class="justify">
                        <div>
                            <p class="text-bold">
                                Influencia
                            </p>

                            <li>
                                <p>
                                    Entiende cuáles son las motivaciones y aspiraciones de tus pares y equipo, para que
                                    sea más posible
                                    alinearse alrededor de un propósito compartido.
                                </p>
                            </li>
                        </div>

                        <div class="mini-step"></div>

                        <div>
                            <p class="text-bold">
                                Coach y mentor
                            </p>

                            <div class="mini-step"></div>

                            <li>
                                <p>
                                    Genera espacios de feedback uno a uno, y enfócate en escuchar al otro, y en hacerle
                                    preguntas
                                    abiertas,
                                    sin
                                    juicio, y centradas en su experiencia. Esto te ayudará a entender qué aspiraciones y
                                    retos tiene, y
                                    qué
                                    lo
                                    está limitando para conseguirlas.
                                </p>
                            </li>
                        </div>

                        <div class="mini-step"></div>

                        <div>
                            <p class="text-bold">
                                Liderazgo inspiracional
                            </p>

                            <div class="mini-step"></div>

                            <li>
                                <p>
                                    Inspírate y conéctate con el propósito de la organización, para que sea más fácil
                                    que inspires a
                                    otros.
                                </p>
                            </li>
                        </div>
                    </div>
                </td>

                <td class="center">
                    <div class="w-50" style="margin: auto;">
                        <table>
                            <tr>
                                <td class="right">
                                    <img src="<%= url_server %>/assets/img/Recurso 19.png" alt="UC-LOGO" class="w-100">
                                </td>
                                <td>
                                    <div style="width: 20px;"></div>
                                </td>
                                <td class="left">
                                    <img src="<%= url_server %>/assets/img/Recurso 18.png" alt="UC-LOGO" class="w-100">
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>

        <div class="mini-step"></div>

        <p class="text-bold">
            Manejo de conflictos
        </p>

        <div class="mini-step"></div>

        <div style="display: table;" class="justify">
            <div class="w-50" style="display: table-cell; padding-right: 15px;">
                <li>
                    <p>
                        Harvard (Fisher y Uri, 2012) propone estos 4 pasos para gestionar mejores conflictos, puedes
                        aplicarlos:
                    </p>
                </li>

                <li>
                    <p>
                        Separa a las personas del problema: ayuda que ambas partes comuniquen sus expectativas, que
                        puedan hacer el
                        ejercicio de ponerse en el lugar del otro, que haya mucha escucha, y que se sostenga una
                        comunicación
                        respetuosa y asertiva.
                    </p>
                </li>
            </div>
            <div style="display: table-cell; padding-left: 15px;">
                <li>
                    <p>
                        Enfócate en intereses, no en problemas: en esta etapa ambas partes deben de preguntarse qué
                        intereses tienen
                        ellas mismas, y la otra parte. El enfocarse en intereses ayuda en ver hacia adelante y no hacia
                        atrás.
                    </p>
                </li>

                <li>
                    <p>
                        Desarrolla opciones donde ambas partes ganen: las partes que están en conflicto deben de idear
                        alternativas
                        y
                        opciones que ofrezcan ventajas a ambas partes. Para se puede sugerir algo que satisfaga el
                        interés de la
                        otra
                        parte y que le cueste menos. El foco en algo que sea ganar ganar ayuda mucho.
                    </p>
                </li>
            </div>
        </div>

        <div class="mini-step"></div>

        <p class="text-bold">
            Trabajo en equipo
        </p>

        <div class="mini-step"></div>

        <div style="display: table;" class="justify">
            <div class="w-50" style="display: table-cell; padding-right: 15px;">
                <li>
                    <p>
                        Genera un espacio de seguridad psicológica, de modo que las personas sientan la confianza para
                        hablar, y
                        para
                        expresar sus ideas.
                    </p>
                </li>
            </div>
            <div style="display: table-cell; padding-left: 15px;">
                <li>
                    <p>
                        Elimina las posibles distracciones de las reuniones, incluido el multitasking, para que tu
                        equipo pueda
                        concentrarse en el momento presente y tener mejores resultados.
                    </p>
                </li>
            </div>
        </div>
    </div>

    <div class="page page-m">
        <table class="header">
            <tr>
                <td class="right">
                    <span class="c-light-blue">
                        Organización Educativa Continental
                    </span>
                </td>
            </tr>
        </table>

        <div class="line bg-light-blue"></div>

        <div class="step"></div>

        <p class="text-bold text-big c-purple-1">
            Plan de crecimiento personal
        </p>

        <div class="mini-step"></div>

        <p>
            De acuerdo a la información que has recibido en tu reporte de liderazgo, puedes plantearte dos o
            tres metas específicas:
        </p>

        <div class="mini-step"></div>

        <p class="text-bold">
            Acciones que voy a realizar para mejorar mi liderazgo
        </p>

        <div class="mini-step"></div>
        <div class="mini-step"></div>

        <table class="w-100">
            <tr>
                <td class="center" style="padding: 0 5px 0 20px; width: 25%;">
                    <div>
                        <img src="<%= url_server %>/assets/img/Recurso 2.png" alt="" srcset="" style="height: 50px;">
                    </div>
                    <div class="w-100">
                        <p class="center">
                            Acción
                        </p>
                    </div>
                    <div class="mini-step"></div>
                    <div class="c-light-blue" style="border: 2px solid; height: 200px;"></div>
                </td>

                <td class="center" style="width: 25%; padding: 0 5px;">
                    <div>
                        <img src="<%= url_server %>/assets/img/Recurso 1.png" alt="" srcset="" style="height: 50px;">
                    </div>
                    <div class="w-100">
                        <p class="center">
                            Resultado esperado
                        </p>
                    </div>
                    <div class="mini-step"></div>
                    <div class="c-light-blue" style="border: 2px solid; height: 200px;"></div>
                </td>

                <td class="center" style="padding: 0 20px 0 5px; width: 25%;">
                    <div>
                        <img src="<%= url_server %>/assets/img/Recurso 9.png" alt="" srcset="" style="height: 50px;">
                    </div>
                    <div class="w-100">
                        <p class="center">
                            Rango de tiempo
                        </p>
                    </div>
                    <div class="mini-step"></div>
                    <div class="c-light-blue" style="border: 2px solid; height: 200px;"></div>
                </td>
            </tr>
        </table>

        <div class="mini-step"></div>

        <p class="text-bold">
            ¿Cómo voy a monitorear mi progreso?
        </p>

        <div class="mini-step"></div>

        <table class="w-100">
            <tr>
                <td style="width: 150px;" class="center">
                    <img src="<%= url_server %>/assets/img/Recurso 21.png" alt="" srcset="" style="height: 65px;">
                </td>
                <td style="padding-left: 20px;">
                    <div class="c-light-blue" style="border: 2px solid; height: 200px;"></div>
                </td>
            </tr>
        </table>

        <div class="mini-step"></div>

        <p class="text-bold">
            Recursos o apoyo que voy a necesitar para lograr mi plan de crecimiento.
        </p>

        <div class="mini-step"></div>

        <table class="w-100">
            <tr>
                <td style="width: 150px;" class="center">
                    <img src="<%= url_server %>/assets/img/Recurso 20.png" alt="" srcset="" style="height: 65px;">
                </td>
                <td style="padding-left: 20px;">
                    <div class="c-light-blue" style="border: 2px solid; height: 200px;"></div>
                </td>
            </tr>
        </table>

        <div class="step"></div>

        <table class="w-100">
            <tr>
                <td class="center">
                    <img src="<%= url_server %>/assets/img/Recurso 9.png" alt="" srcset="">
                </td>
            </tr>
        </table>
    </div>

    <div class="page bg-purple-1" style="margin-top: 10px;">
        <table class="w-100" style="padding: 3cm;">
            <tr>
                <td class="left">
                    <img class="logo" style="height: 100px;" src="<%= url_server %>/assets/img/Recurso 3.png"
                        alt="UC-LOGO">
                </td>
            </tr>
        </table>

        <div class="step"></div>
        <div class="line-bolder bg-light-blue"></div>
        <div class="line-bolder bg-light-blue"></div>
        <div class="line-bolder bg-light-blue"></div>
        <div class="line-bolder bg-light-blue"></div>
        <div class="line-bolder bg-light-blue"></div>
        <div class="line-bolder bg-light-blue"></div>

        <table class="w-100" style="padding: 0 3cm;">
            <tr>
                <td class="right">
                    <div class="c-light-blue" style="display: inline-block;">
                        <table>
                            <tr class="center">
                                <td>
                                    <img src="<%= url_server %>/assets/img/Recurso 25.png" alt="" srcset="">
                                </td>
                                <td>
                                    <img src="<%= url_server %>/assets/img/Recurso 26.png" alt="" srcset="">
                                </td>
                                <td>
                                    <img src="<%= url_server %>/assets/img/Recurso 27.png" alt="" srcset="">
                                </td>
                                <td>
                                    <img src="<%= url_server %>/assets/img/Recurso 28.png" alt="" srcset="">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    ucontinental.edu.pe
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>

    </div> -->

</body>

</html>
