<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        /* Textos */
        @font-face {
            font-family: neue-plak-regular;
            src: url('<%= url_server %>/assets/fonts/Neue\ Plak\ Narrow\ Regular.ttf');
        }

        /* título */
        @font-face {
            font-family: neue-plak-semibold;
            src: url('<%= url_server %>/assets/fonts/Neue\ Plak\ SemiBold.ttf');
        }

        * {
            margin: 0;
            padding: 0;
            font-family: neue-plak-regular;
        }

        html {
            zoom: 0.75;
        }
    </style>
</head>

<body>

    <table style="border-collapse: collapse; border: 0; margin: 0; background-color: #6802c1; width: 100%;
        text-align:center; height: 297mm;">
        <tr>
            <td style="padding: 10px 0">
                <table style="border-collapse: collapse; border: 0; margin: 0 auto;">
                    <tr>
                        <td style="text-align: right; padding: 0; line-height: 0;">
                            <img class="logo" src="<%= url_server %>/assets/img/Recurso 3.png" alt="UC-LOGO">
                        </td>
                        <td style="text-align: left; font-size: 2rem; color: #fff">
                            Evaluación de Liderazgo - ESCI
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>


</body>

</html>
